<h1>Poker Project</h1>

<h4>This data was taken from UCI's repository. It contains dealt hands and classifies winning hands.</h4>

In [1]:
import pandas as pd
import numpy as np
import sklearn
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
from IPython.display import display
%matplotlib inline
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 10)

print('pandas version is {}.'.format(pd.__version__))
print('numpy version is {}.'.format(np.__version__))
print('scikit-learn version is {}.'.format(sklearn.__version__))
print('seaborn version is {}.'.format(sns.__version__))
print('matplotlib version is {}.'.format(matplotlib.__version__))

pandas version is 0.24.2.
numpy version is 1.16.5.
scikit-learn version is 0.20.3.
seaborn version is 0.9.0.
matplotlib version is 2.2.4.

In [2]:
training = pd.read_csv("poker-hand-training-true.data")
print("This set has {} data points and {} features.".format(*training.shape))

This set has 25009 data points and 11 features.

In [3]:
testing = pd.read_csv("poker-hand-testing.data")
print("This set has {} data points and {} features.".format(*testing.shape))

This set has 999999 data points and 11 features.

In [4]:
display(training)

       1  10  1.1  11  1.2  13  1.3  12  1.4  1.5  9
0      2  11    2  13    2  10    2  12    2    1  9
1      3  12    3  11    3  13    3  10    3    1  9
2      4  10    4  11    4   1    4  13    4   12  9
3      4   1    4  13    4  12    4  11    4   10  9
4      1   2    1   4    1   5    1   3    1    6  8
...   ..  ..  ...  ..  ...  ..  ...  ..  ...  ... ..
25004  3   9    2   6    4  11    4  12    2    4  0
25005  4   1    4  10    3  13    3   4    1   10  1
25006  2   1    2  10    4   4    4   1    4   13  1
25007  2  12    4   3    1  10    1  12    4    9  1
25008  1   7    3  11    3   3    4   8    3    7  1

[25009 rows x 11 columns]

In [5]:
display(testing)

        1  1.1  1.2  13  2   4  2.1   3  1.3  12  0
0       3   12    3   2  3  11    4   5    2   5  1
1       1    9    4   6  1   4    3   2    3   9  1
2       1    4    3  13  2  13    2   1    3   6  1
3       3   10    2   7  1   2    2  11    4   9  0
4       1    3    4   5  3   4    1  12    4   6  0
...    ..  ...  ...  .. ..  ..  ...  ..  ...  .. ..
999994  3    1    1  12  2   9    4   9    2   6  1
999995  3    3    4   5  2   7    1   4    4   3  1
999996  1   11    4   7  3   9    1  13    2   7  1
999997  3   11    1   8  1   1    3  13    2   8  1
999998  2    5    2   9  4   9    2   3    3   3  2

[999999 rows x 11 columns]